{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/cart.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/cart/display-cart.js') }}" type="module"></script>
	{% if app.user %}
	<script src="{{ asset('js/cart/ajax-saved-cart.js') }}" type="module"></script>
	{% endif %}
	<script src="{{ asset('js/cart/ajax-get-discount-ticket.js') }}" type="module"></script>
	<script src="{{ asset('js/order/ajax-new-order.js') }}" type="module"></script>
{% endblock %}

{% block body %}
	<section id="content-modal">
		<div class="modal">
			<h4>
				<span><i class="fas fa-shopping-cart"></i></span>
				Votre panier est sauvegardé !
			</h4>
		</div>
	</section>
	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Panier</span>
			<span class="amatic tc-white uppercase">Voici votre panier et son contenu</span>
		</h1>
	</section>

	<section id="cart">
		<div class="container">
			<h2 class="amatic tc-blue">Qu'avez-vous dans votre panier ?</h2>

			<div class="dflex bloc-cart">
				<div class="cart">
					<div class="titles">
						<h3 class="element name">Nom du produit</h3>
						<h3 class="element unitPrice">Prix unitaire</h3>
						<h3 class="element quantity">Quantité</h3>
						<h3 class="element totalPrice">Prix total</h3>
					</div>

					<div id="cart-table" class="tables">
						{# Populated by display-cart.js #}
					</div>
				</div>

				<div class="confirm">
					<div class="line">
						<h3><i class="fas fa-shipping-fast"></i> Frais de port</h3>
						<p>
							<span id="shipping-cost"></span>
							€
						</p>
					</div>

					<div class="line">
						<p id="domDiscountTicket">Votre bon de réduction : <span id="ticketCode"></span></p>
						<div id="discountForm">
							<label for="discountTicket"><i class="fas fa-percentage"></i> Vous avez un bon de réduction ?</label>
							<input type="text" name="discountTicket" id="discountTicket" placeholder="Entrez votre bon" required="false">
							<p id="errorTicket"></p>
							<button id="addTicket" class="btn bg-blue">
								<i class="fas fa-plus"></i>Ajouter votre bon
							</button>
						</div>

					</div>


					<div class="total">
						<h3><i class="fas fa-euro-sign"></i> Total de la commande</h3>
						<p id="cart-total-price" class="ttc"></p>
						<p>Frais de livraison inclus</p>
					</div>

					<a href="{{ path('order') }}" class="btn" id="confirm-btn">
						<i class="fas fa-shopping-cart"></i> Confirmer
					</a>

					{% if app.user %}
						<button class="btn save" id="save-btn">
							<i class="fas fa-check"></i> Sauvegarder le panier
						</button>
					{% endif %}
				</div>
			</div>


		</div>
	</section>
{% endblock %}
