{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/index.css') }}">
{% endblock %}

{% block body %}
	<section id="home">
		<div class="content">
			<h1>
				<span class="rougeScript">
					Elodie Ortiz
				</span>
				<span class="amatic uppercase">Magnétisme</span>
			</h1>

			<div class="btns">
				<a href="{{ path('agenda') }}" class="btn round bg-white tc-purple">
					Réserver une séance
				</a>
			</div>
		</div>
	</section>

	<section id="favourite">
		<h2 class="amatic uppercase tc-blue">Les coups de coeur</h2>

		<div class="bloc-favourites">
			{% for favourite in favourites %}
				<a href="{{ path('product_details', {'slug': favourite.slug, 'id': favourite.id }) }}" class="favourite">
					<span class="bloc-img">
						<img src="{{ asset('products/'~ favourite.image ~'')|imagine_filter('productImagesThumbnails') }}"
						     alt="{{ favourite.altImg }}" title="{{ favourite.nameImg }}">
					</span>

					<span class="title-h3 amatic">{{ favourite.name }}</span>
					<span class="title-h4">{{ favourite.price }} €</span>

					<span class="btns">
						<button class="btn-add-cart">
							<i class="far fa-eye"></i> Découvrir en détails
						</button>
					</span>

				</a>
			{% endfor %}
		</div>

		<div class="btns">
			<a href="{{ path('products', {'page': '1'}) }}" class="btn round bg-blue tc-white">Découvrir plus</a>
		</div>
	</section>

	<section id="presentation">
		<div class="bloc-background">
			<div class="picture">
				<img src="{{ asset('images/index/photo-elodie.jpg') }}" alt="Photo de portrait d'Elodie Ortiz, votre magnétiseuse">
			</div>
		</div>

		<div class="bloc-text">
			<h2 class="amatic tc-blue uppercase">
				{{ content.presentationTitle }}
			</h2>

			<div class="content">
				<p>
					{{ content.presentationText1 }}
				</p>

				<p>{{ content.presentationText3 }}</p>

				<p>{{ content.presentationText4 }}</p>

				<p>{{ content.presentationText5 }}</p>

				<h3 class="amatic tc-purple uppercase">{{ content.presentationSubtitle }}</h3>

				<p>
					{{ content.presentationText2 }}
				</p>

				<p class="quote">{{ content.citationText }}</p>

				<div class="bloc-btn btns">
					<a href="{{ path('services') }}" class="btn round bg-blue tc-white">Mes services</a>
				</div>
			</div>

		</div>
	</section>

	<section id="services">
		<div class="bloc bg-grey">
			<img src="{{ asset('images/illustrations/mediumnite-illustration-elodie-ortiz-connectinha.png') }}" alt="Illustration représentant la médiumnité avec le visage d'une femme avec une lune, des étoiles et des feuilles">
		</div>
		<div class="bloc magnetisme">
			<h2>Le<br> magnétisme</h2>
		</div>
		<div class="bloc bg-grey">
			<img src="{{ asset('images/illustrations/cartomancie-illustration-elodie-ortiz-connectinha.png') }}" alt="Illustration représentant la cartomancie avec une main avec des étoiles et des cartes">
		</div>
		<div class="bloc cartomancie">
			<h2>La<br> cartomancie</h2>
		</div>
		<div class="bloc bg-grey">
			<img src="{{ asset('images/illustrations/magnetisme-illustration-elodie-ortiz-connectinha.png') }}" alt="Illustration représentant le magnétisme avec deux mains avec des étoiles et une lune au centre">
		</div>
		<div class="bloc mediumnite">
			<h2>La<br> médiumnité</h2>
		</div>
	</section>

	<section id="question">


		<div class="content">

			<h2 class="amatic tc-blue">{{ content.questionsTitle }}</h2>
			<p>
				{{ content.questionsText }}
			</p>

			<div class="btns">
				<a href="{{ path('contact') }}" class="btn bg-blue round tc-white">
					Contactez-moi
				</a>
			</div>
		</div>

	</section>
{% endblock %}
