{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/table.css') }}">
	<link rel="stylesheet" href="{{ asset('css/admin/diary.css') }}">
{% endblock %}

{% block body %}
	<h1><span>Ajouter</span></h1>

	<section class="form">
		{{ form_start(form) }}

		<div class="bloc-left">
			<h2>Ajouter un horaire</h2>

			<div class="form-bloc">
				{{ form_label(form.hour) }}
				{{ form_widget(form.hour) }}
			</div>

			<div class="form-bloc">
				{{ form_label(form.duration) }}
				{{ form_widget(form.duration) }}
			</div>

		</div>

		<div class="bloc-right">
			<h2>Horaires disponibles</h2>
			<div class="elements">
				{% for hour in hours %}
					<a href="{{ path('admin_agenda_hours_modify', {'id': hour.id }) }}" class="element">
						<span class="icon">
								<i class="far fa-clone"></i>
						</span>
						{{ hour.hour|format_datetime(locale='fr',pattern="HH:mm") }} -
						{{ hour.duration }}
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="btns center">
			<a class="btn" href="{{ path('admin_agenda_hours', {'page': '1'}) }}">
				<i class="fas fa-angle-left"></i> Retour
			</a>
			<button type="submit" class="btn add">
				<i class="fas fa-check"></i> Valider
			</button>
		</div>

		{{ form_end(form) }}
	</section>
{% endblock %}
