{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Boutique - Votre bien-être tout simplement{% endblock %}

{% block description %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client/produit.css') }}">
{% endblock %}

{% block body %}
    <section id="banner">
        <h1>
            <span class="rougeScript tc-white">Boutique</span>
            <span class="amatic tc-white uppercase">Votre bien-être tout simplement</span>
        </h1>
    </section>

    <section id="products unique">
        <div class="container">
            <div class="dflex">


                <div class="product unique">
                    <div class="return">
                        <a href="{{ path('products', {'page': '1'}) }}" class="tc-blue bold">
                            <i class="fas fa-angle-left"></i> Retour à la boutique
                        </a>
                    </div>
                    <div class="bloc-img">
                      <img src="{{ asset('products/'~ product.image ~'') }}">
                    </div>

                    <div class="bloc-text">
                        <h2 class="amatic tc-blue">{{ product.name }}
                            <span class="amatic tc-grey {% if product.specialOffer|length > 0 %}underline{% endif %}">{{ product.price }} € </span>
                            {% if product.specialOffer|length > 0 %}
                                <span class="amatic tc-grey title-offer">{{ product.price - (product.price * (product.specialOffer.offer / 100)) }} €</span>
                            {% endif %}
                        </h2>

                        {% if product.specialOffer|length > 0 %}
                            <p class="offer">{{ product.specialOffer }} - {{ product.specialOffer.offer }} %</p>
                        {% endif %}

                        <p class="text">{{ product.text }}</p>

                        {% if product.mantraProducts|length > 0 %}
                        <div class="select">
                            <h3 class="bold">Sélectionnez le mantra que vous souhaitez :</h3>
                            <select id="mantraSelect">
                                {% for mantra in product.mantraProducts %}
                                    <option>{{ mantra.mantra }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                        <div class="bloc-btn">
                            <h3 class="bold">Quantité</h3>
                            <div class="quantity">
                                <button id="less">-</button>
                                <input id="number" type="number" min="1" max="12" placeholder="1" value="1">
                                <button id="more">+</button>
                            </div>

                            <div class="btns">
                                <button id="addCart" data-id="{{ product.id }}" data-mantra="mantra" data-quantity="quantity" data-weight="{{ product.weight }}" data-price="{{ product.price }}">
                                    <i class="fas fa-shopping-cart"></i> Ajouter au panier
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/cart/shop-add-cart.js') }}" type="module"></script>
{% endblock %}
