{% extends 'base.html.twig' %}

{% block title %}Boutique - Votre bien-être tout simplement{% endblock %}

{% block description %}
	Découvrez les bougies réalisées 100% à la main par Elodie Ortiz. Chaque bougie est réalisée avec des produits naturels, et vous invite à vous détendre et apporte de la sérénité.
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/produit.css') }}">
{% endblock %}

{% block body %}
	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Boutique</span>
			<span class="amatic tc-white uppercase">Votre bien-être tout simplement</span>
		</h1>
	</section>

	<section id="slider">
		<div class="container">

			<div class="slider">
				<div class="bloc-title">
					<h2 class="amatic tc-white">Des ingrédients<br>naturels</h2>
				</div>

				<img src="{{ asset('images/produits/bandeau-connectinha-paysage-terre-lac.jpg') }}"
				     alt="Bougie ronde sur un support en bois au dessus d'une baignoire">
			</div>
			<div class="column">
				<div class="handmade">
					<div class="bloc-img">
						<img src="{{ asset('images/produits/bougies-fait-main-fabrication-francaise-elodie-ortiz.jpg') }}"
						     alt="Bougie posée dans une main, avec l'inscription handmade">
					</div>
					<div class="bloc-text">
						<h2>
                <span class="amatic">
                  Bougies<br>
                  100%
                </span>
							<span class="rougeScript">
                  Faits-mains
                </span>
						</h2>
					</div>
				</div>

				<div class="shipping">
					<div class="bloc-text">
						<h2>
                <span class="amatic">
                  Livraison<br>
                  à domicile
                </span>
							<span class="rougeScript">
                  en France
                </span>
						</h2>
					</div>
					<div class="bloc-img">
						<img src="{{ asset('images/produits/visuel-livraison-a-domicile-connectinha-bougie-fait-main.jpg') }}"
						     alt="Femme devant un ordinateur portable et sourit">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="favourite">
		<h2 class="amatic uppercase tc-blue">Les coups de coeur</h2>

		<div class="bloc-favourites">

			{% for favourite in favourites %}
				<a href="{{ path('product_details', {'slug': favourite.slug, 'id': favourite.id }) }}" class="favourite" title="Découvrez les détails de {{ favourite.name }}, réalisés à la main avec des produits naturels">
					{% if favourite.specialOffer|length > 0 %}
						<span class="offer">
							- {{ favourite.specialOffer.offer }} %
						</span>
					{% endif %}
					<span class="bloc-img">
						<img src="{{ asset('products/'~ favourite.image ~'')|imagine_filter('productImagesThumbnails') }}"
						     alt="{{ favourite.altImg }}" title="{{ favourite.nameImg }}">
					</span>

					<span class="title-h3 amatic">{{ favourite.name }}</span>
					<span class="title-h4 {% if favourite.specialOffer|length > 0 %}underline{% endif %}">{{ favourite.price }} €</span>
					{% if favourite.specialOffer|length > 0 %}
						<span class="title-offer">{{ favourite.price - (favourite.price * (favourite.specialOffer.offer / 100)) }} €</span>
					{% endif %}

					<span class="btns">
							<i class="far fa-eye"></i> Découvrir en détails
					</span>

				</a>
			{% endfor %}
		</div>
	</section>

	<section id="plus">
		<div class="container">
			<div class="madeInFrance bloc">
				<h2>
					<span class="amatic tc-white">100%</span>
					<span class="rougeScript tc-white">Fabriqués en France</span>
				</h2>
			</div>
			<div class="parfume bloc">
				<h2>
					<span class="amatic tc-white">Des parfums</span>
					<span class="rougeScript tc-white">de calme et sérénité</span>
				</h2>
			</div>
		</div>
	</section>

	<section id="products">
		<h2>Pour tous les goûts</h2>
		<div class="dflex">
			{% if products|length > 0 %}
				{% for product in products %}

					<a href="{{ path('product_details', {'slug': product.slug, 'id': product.id }) }}" class="product" title="Les bougies {{ product.name }}, apportent calme, bien-être et sont issus de produits naturels">
						{% if product.specialOffer|length > 0 %}
							<span class="offer">
							- {{ product.specialOffer.offer }} %
						</span>
						{% endif %}

						<span class="bloc-img">
							<img src="{{ asset('products/'~ product.image ~'')|imagine_filter('productImagesThumbnails') }}"
							     alt="{{ product.altImg }}" title="{{ product.nameImg }}">
						</span>

						<span class="bloc-text">
							<span class="title">{{ product.name }}</span>
							<span class="title-h4 {% if product.specialOffer|length > 0 %}underline{% endif %}">{{ product.price }} €</span>
							{% if product.specialOffer|length > 0 %}
								<span class="title-offer">{{ product.price - (product.price * (product.specialOffer.offer / 100)) }} €</span>
							{% endif %}
						</span>

						<span class="btns">
							<button id="addCart">
								<i class="far fa-eye"></i> Découvrir en détails
							</button>
						</span>
					</a>
				{% endfor %}
			{% else %}
				<p class="empty">Pour le moment cette sélection est vide<br>
					<span>Revenez bientôt !</span>
				</p>
			{% endif %}
		</div>

		{% if categoryId is defined %}
			{% include 'includes/_pagination_category.html.twig' with {'link': link, 'categoryId': categoryId, 'categorySlug': categorySlug } %}
		{% elseif subcategoryId is defined %}
			{% include 'includes/_pagination_subcategory.html.twig' with {'link': link, 'subcategoryId': subcategoryId, 'subcategorySlug': subcategorySlug } %}
		{% else %}
			{% include 'includes/_pagination.html.twig' with {'link': link} %}
		{% endif %}
	</section>

	<section id="creations">
		<div class="bloc-img">
			<img src="{{ asset('images/produits/a-propos-des-creations-elodie-ortiz-connectinha.jpg') }}" alt="Bougies blanches et bleus de différentes tailles">
		</div>

		<div class="bloc-text">
			<h2 class="amatic tc-blue">À propos des créations</h2>
			<h3 class="rougeScript">La céromancie est l'art de lire les bougies</h3>
			<p>
				Elle me permet d'être connectée avec l'ésotérisme. Je porte un intérêt particulier à observer le son de la flamme,
				la symbolique de la mèche, la couleur et l'aspect de la cire.
			</p>
			<p>N'hésitez pas à me faire part de vos partages, je me ferai un plaisir d'être dans l'échange.</p>
		</div>
	</section>

{% endblock %}
