{% extends 'base_admin.html.twig' %}

{% block title %}Catégories des produits{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/categories.css') }}">
{% endblock %}

{% block javascripts %}
	<script type="module" src="{{ asset('js/category-admin.js') }}"></script>
{% endblock %}

{% block body %}
	<h1 class="a-center">Ici vous pouvez gérer les catégories de vos produits</h1>

	<section class="bloc-actions dflex">
		<div class="number">
			<h2>
				<span class="square">
					<i class="fas fa-layer-group"></i>
				</span>
				<span class="texte">
					Vous avez {{ categories|length }} catégories disponibles
				</span>
			</h2>
		</div>
		<div class="btns dflex">
			<a href="{{ path('admin_category_add') }}" class="btn">
				<i class="fas fa-plus"></i> Ajouter une catégorie
			</a>
			<a href="{{ path('admin_subcategory_add') }}" class="btn">
				<i class="fas fa-plus"></i> Ajouter une sous-catégorie
			</a>
			<a href="{{ path('admin_subcategories', {'page': '1'}) }}" class="btn">
				<i class="fas fa-clone"></i> Voir les sous-catégories
			</a>
			<a href="{{ path('admin_products', {'page': '1'}) }}" class="btn">
				<i class="fas fa-shopping-bag"></i> Voir les produits
			</a>
		</div>
	</section>

	<section class="table">
		<div class="head dflex">
			<h3 class="categories">
				Nom de la catégorie
			</h3>
			<h3 class="subcategories">
				Sous-catégories
			</h3>
			<h3 class="active">
				Active ?
			</h3>
			<div class="search">
				Rechercher
			</div>
		</div>
		{% for category in categories %}
			<a href="{{ path('admin_category_modify', {'slug': category.slug, 'id': category.id }) }}"
			   class="element category">
				<span class="data categories">{{ category.name }}</span>
				<span class="data subcategories">
					{{ category.subcategories|sort((a, b) => a.name <=> b.name)|join(', ') }}
				</span>
				<span class="active">
					<span class="btn-actif {% if category.active == '1' %}true{% else %}false{% endif %}">
						{% if category.active == '1' %}
							Actif
						{% else %}
							Inactif
						{% endif %}
					</span>
				</span>

				<span class="btns dflex">
					<button class="btn action">
						<i class="fas fa-edit"></i> Modifier
					</button>
					<button class="btn delete" data-id="{{ category.id }}">
						<i class="fas fa-trash"></i> Supprimer
					</button>
				</span>
			</a>
		{% endfor %}
	</section>

	{% include 'includes/_pagination.html.twig' with {'link': 'admin_categories' } %}
{% endblock %}
