{% extends 'base_admin.html.twig' %}

{% block title %}Modifier - Gratuité de frais de ports{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/produit.css') }}">
{% endblock %}

{% block body %}
	<h1 class="a-center">Gérer vos gratuités de frais de port</h1>

	<div class="dflex products">

		{{ form_start(form) }}
		<h2><i class="fas fa-shopping-bag"></i> Ajouter une gratuité</h2>

		{% for message in app.flashes('success') %}
			<div class="alert success">
				<p>{{ message }}</p>
			</div>
		{% endfor %}

		<div class="large-bloc">
			<div class="line">
				{{ form_label(form.price) }}
				{{ form_widget(form.price) }}
			</div>
		</div>
		<div class="small-bloc">

		</div>

		<div class="bloc">
			{{ form_widget(form.submit, {'label': 'Modifier', 'attr': {'class': 'btn action'}}) }}
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}
