{% extends 'base_admin.html.twig' %}

{% block title %}Modifier - {{ subcategory.name }} - Sous-catégories des produits{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/categories.css') }}">
{% endblock %}

{% block body %}
	<h1 class="a-center">Gérer vos sous-catégories de produits</h1>

	<div class="dflex add-categories">

		{{ form_start(form) }}
		<h2>
			<i class="fas fa-layer-group"></i> Modifier une sous-catégorie de produits
		</h2>

		{% for message in app.flashes('success') %}
			<div class="alert success">
				<p>{{ message }}</p>
			</div>
		{% endfor %}
		<div class="large-bloc">
			<div class="ligne">
				{{ form_label(form.name) }}
				{{ form_widget(form.name) }}
			</div>
			<div class="ligne">
				{{ form_label(form.active) }}
				{{ form_widget(form.active) }}
			</div>
		</div>

		<div class="submit-bloc">
			{{ form_widget(form.submit, {'attr': {'class': 'btn action'}}) }}
		</div>

		{{ form_end(form) }}

		<div class="categories small">
			<h2>
				<i class="fas fa-layer-group"></i> Vos catégories
			</h2>

			{% for subcategory in subcategories %}
				<a href="{{ path('admin_subcategory_modify', {'slug': subcategory.slug, 'id': subcategory.id }) }}"
				   class="element subcategory">
					<span class="titre">{{ subcategory.name }}</span>
				</a>
			{% endfor %}

			<div class="btns dflex">
				<a href="{{ path('admin_subcategories', {'page': '1'}) }}" class="btn">
					<i class="fas fa-list-ul"></i> Voir toutes les sous-catégories
				</a>
			</div>
		</div>
	</div>
{% endblock %}
