{% extends 'base_admin.html.twig' %}

{% block title %}TVA{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin/tva.css') }}">
{% endblock %}

{% block javascripts %}
	<script type="module" src="{{ asset('js/deletes/tva-admin.js') }}"></script>
{% endblock %}

{% block body %}
	<h1 class="a-center">Ici vous pouvez gérer les catégories de vos produits</h1>

	<section class="bloc-actions dflex">
		<div class="number">
			<h2>
				<span class="square">
					<i class="fas fa-euro-sign"></i>
				</span>
				<span class="texte">
					Vous avez {{ tvas|length }} taxes disponibles
				</span>
			</h2>
		</div>
		<div class="btns dflex">
			<a href="{{ path('admin_tva_add') }}" class="btn">
				<i class="fas fa-plus"></i> Ajouter une taxe
			</a>
			<a href="{{ path('admin_products', {'page': '1'}) }}" class="btn">
				<i class="fas fa-shopping-bag"></i> Voir les produits
			</a>
		</div>
	</section>

	<section class="table">
		<div class="head dflex">
			<h3 class="taxes">
				Nom de la taxe
			</h3>
			<h3 class="taux">
				Taux (%)
			</h3>
			<h3 class="active">
				Active ?
			</h3>
			<div class="search">
				Rechercher
			</div>
		</div>
		{% for tva in tvas %}
			<a href="{{ path('admin_tva_modify', {'slug': tva.slug, 'id': tva.id }) }}" class="element taxe">
				<span class="data taxes">{{ tva.name }}</span>
				<span class="data taux">{{ tva.percentage }} %</span>
				<span class="data active"></span>

				<span class="btns dflex">
					<button class="btn action">
						<i class="fas fa-edit"></i> Modifier
					</button>
					<button class="btn delete" data-id="{{ tva.id }}">
						<i class="fas fa-trash"></i> Supprimer
					</button>
				</span>
			</a>
		{% endfor %}
	</section>
{% endblock %}
