{% extends 'base.html.twig' %}

{% block title %}Mes services{% endblock %}

{% block description %}

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/client/services.css') }}">
{% endblock %}

{% block body %}

	<section id="banner">
		<h1>
			<span class="rougeScript tc-white">Mes services</span>
			<span class="amatic tc-white uppercase">Vous trouverez votre bonheur</span>
		</h1>
	</section>

	<section id="rdv">
		<div class="container">
			<div class="discovery">
				<h2 class="amatic tc-blue">Découvrez les chakras</h2>

				<p>
					Selon la tradition indienne, l'<strong>énergie circule d'un chakra à l'autre</strong> par des canaux invisibiles.
					Au passage de ces "roues", le souffle vital se concentrerait en tourbillonnant dans le sens des aiguilles d'une montre,
					remontant du périnée au sommet de la tête.<br>
					L'énergie doit pouvoir passer librement dans les chakras, sans excès, sans manque ni stagnation. Or,
					un <strong>mal-être, une émotion aiguë, des problèmes anciens non résolus, une mauvaise hygiène de vie ou le stress</strong>
					pourraient les dérégler : les chakras se fermeraient, empêchant l'énergie de circuler.<br>
					Pour les hindous, ce déséquilibre favoriserait les maladies.
				</p>
				<p>
					Équilibrer ses chakras contribuerait donc à <strong>prévenir ou soigner certains maux</strong> et à maintenir un bon état
					de santé physique et psychique.
				</p>
			</div>

			<div class="purification">
				<h2 class="amatic tc-blue">La purification des chakras</h2>
				<p>La purification des chakras va se faire en 2 étapes :</p>
				<h3 class="rougeScript">Nettoyage</h3>
				<p>
					Je vous aide par le relâchement des formes-pensées-négative, en passant par des prises de conscience
					de l'origine émotionnelle et psychique du symptôme.<br>
					Puis par la pratique du magnétisme (Reiki ou d'autres techniques énergétiques).
				</p>

				<h3 class="rougeScript">L'équilibrage</h3>
				<p>
					L'équilibrage va permettre d'harmoniser la vitesse de rotation des chakras pour ne plus être
					dans l'hyper ou dans l'hypo c'est à dire dans les esxcès ; mais aussi l'élargissement des chakras de façon
					à ce qu'ils soient tous de la même taille. Ainsi ma pratique contribue à ouvrir votre flux énergétique
					aussi bien à l'extérieur vers l'intérieur que de l'intérieur vers l'extérieur.<br>
				</p>
				<p>
					Cette ouverture au monde intérieur et extérieur vous permettra de ne plus être séparé, bloqué, ce qui donnera lieu à l'éclosion
					de nouvelles idées, de nouveaux projets...<br>
					En bref, les séances vous permettront de retrouver du mouvement dans tous les aspects de votre vie.
					Ainsi votre Etre incarné et spirituel poursuivra son évolution.
				</p>
			</div>

			<h2 class="amatic tc-blue">Je vous propose</h2>

			{% for service in services %}
			<div class="service">
          <div class="bloc-img">
              <img
                  src="{{ asset('services/'~ service.image ~'')|imagine_filter('servicesThumbnails') }}">
          </div>
					<div class="bloc-text">
              <h3 class="title">{{ service.title }}</h3>
              <p class="duration">
                  Durée de la séance : {{ service.duration }}
              </p>
              <p class="price">
                  Prix : {{ service.price }} €
              </p>
              <p class="text">
                  {{ service.text }}
              </p>
          </div>

				{% if service.content|length > 0 %}
					<div class="contents">
						{% for content in service.content %}
							<div class="content">

								<div class="bloc-img">
									<img
											src="{{ asset('services/'~ content.image ~'')|imagine_filter('servicesThumbnails') }}">
								</div>
								<div class="bloc-text">
									<h3>{{ content.title }}</h3>
									<p>
										{{ content.text }}
									</p>
									<div class="btns">
										<a class="btn" href="{{ content.link }}" target="_blank">Lien à découvrir</a>
										<a class="btn" href="" target="_blank" download="{{ asset('services/'~ content.pdf ~'') }}">PDF à découvrir</a>
									</div>

								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}
