{% extends 'base.html.twig' %}

{% block title %}Programmer un rendez-vous{% endblock %}

{% block description %}
    Programmez un rendez-vous pour la prestation de votre choix avec Elodie Ortiz dans le département de la Seine et Marne (77), Magnétisme, Cartomancie et soins énergétiques.
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client/agenda.css') }}">
{% endblock %}

{% block body %}
    <section id="banner">
        <h1>
            <span class="rougeScript tc-white">Les prestations</span>
            <span class="amatic tc-white uppercase">Réserver une séance</span>
        </h1>
    </section>

    <section id="rdv">
        <div class="container">
            <h2 class="amatic tc-blue">Réservez un rendez-vous</h2>

            <div>
                <h3>Sélectionnez la prestation pour laquelle vous souhaitez prendre rendez-vous</h3>

                <div class="bloc-services">
                    {% for service in services %}
                        <a title="Sélectionnez la prestation {{ service.title }}" href="{{ path('agenda_days', {'serviceId': service.id }) }}" class="service">
                            <span class="bloc-img">
                                <img src="{{ asset('services/'~ service.image ~'')|imagine_filter('servicesThumbnails') }}">
                            </span>
                            <span class="bloc-text">
                                <span class="title">{{ service.title }}</span>
                                <span class="duration">
                                    Durée de la séance : {{ service.duration }}
                                </span>
                                <span class="price">
                                    Prix : {{ service.price }} €
                                </span>
                                <span class="text">
                                    {{ service.text }}
                                </span>
                            </span>

                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}
