<nav>
	<ul>
		<li>
			<a href="{{ path('profile') }}" class="btn">
				<i class="fas fa-home"></i> Tableau de bord
			</a>
		</li>
		<li>
			<a href="{{ path('profile_modify') }}" class="btn">
				<i class="fas fa-user"></i> Modifier vos informations personnelles
			</a>
		</li>
{#		<li>#}
{#			<a href="" class="btn delete" id="deleteButton">#}
{#				<i class="fas fa-trash"></i> Supprimer votre profil#}
{#			</a>#}
{#		</li>#}
		<li>
			<a href="{{ path('profile_cart_saved') }}">
				<i class="fas fa-shopping-cart"></i> Votre panier sauvegardé
			</a>
		</li>
		<li>
			<a href="{{ path('profile_orders') }}">
				<i class="fas fa-shipping-fast"></i> Vos commandes
			</a>
		</li>
		<li>
			<a href="{{ path('profile_rdv') }}">
				<i class="fas fa-clock"></i> Vos rendez-vous
			</a>
		</li>
	</ul>
</nav>