<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block description %}{% endblock %}">
	<title>{% block title %}{% endblock %} - Connectinha - Elodie Ortiz Magnétiseuse</title>
	<link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
	{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Playfair+Display:wght@400;700&family=Rouge+Script&display=swap" rel="stylesheet">
	{% block stylesheets %}
		{# {{ encore_entry_link_tags('app') }} #}
	{% endblock %}
	<link rel="stylesheet" href="{{ asset('css/front/styles.css') }}">
	<script type="module" src="{{ asset('js/global.js') }}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-3Y1XS1L77H"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3Y1XS1L77H');
	</script>

	{% block javascripts %}
		{# {{ encore_entry_script_tags('app') }} #}
	{% endblock %}
	<script src="https://kit.fontawesome.com/e10814a45c.js" crossorigin="anonymous"></script>

</head>
<body>
<header id="header">
	<div id="burger">
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div class="container">
		<nav>

			<ul class="menu">
				<li class="accueil">
					<a href="{{ path('index') }}" title="Accueil">Accueil</a>
				</li>
				<li class="services">
					<a href="{{ path('services') }}" title="Mes services">Mes services</a>
				</li>
				<li class="rdv">
					<a href="{{ path('agenda') }}" title="Réserver une séance">Réserver une séance</a>
				</li>

				<li class="logo">
					<a href="{{ path('index') }}" title="Logo">
						<img src="{{ asset('images/logo-elodie-ortiz-connectinha-magnetisme.png') }}" alt="Logo Elodie Ortiz Magnétisme">
					</a>
				</li>

				<li class="produits">
					<a href="{{ path('products', {'page': '1'}) }}" title="Produits">
						<i class="fas fa-store"></i>Boutique
					</a>
				</li>

				{% if app.user %}
				<li class="profile">
					<a href="{{ path('profile') }}" title="Profil">
						<i class="fas fa-user"></i> Votre espace
					</a>
				</li>
				{% else %}
					<li class="connexion">
						<a href="{{ path('app_login') }}" title="Connexion">
							<i class="fas fa-user"></i> Connexion
						</a>
					</li>
				{% endif %}
				<li class="panier">
					<a href="{{ path('cart') }}" title="Panier">
						<i class="fas fa-shopping-cart"></i> Panier
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

{% block body %}{% endblock %}

<footer>
	<div class="footer-top">
		<div class="container">
			<nav>
				<ul class="logo">
					<li>
						<a href="{{ path('index') }}">
							<strong>
								<span class="rougeScript">
									Elodie Ortiz
								</span>
								<span class="amatic">
									Magnétisme
								</span>
							</strong>
						</a>
					</li>
				</ul>
				<div class="menu">
					<h3 class="bold">Contactez-moi</h3>
					<ul>

						<li>
							<i class="fas fa-mobile-alt"></i> 06 83 14 92 77
						</li>
						<li>
							<a href="{{ path('contact') }}" title="Envoyez un mail">
								<i class="fas fa-envelope"></i> Envoyez un mail
							</a>
						</li>
					</ul>
				</div>
				<div class="reseaux">
					<h3 class="bold">Rejoignez-moi sur les réseaux</h3>
					<ul>


						{{ render(controller("App\\Controller\\IndexController::reseaux")) }}


					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<nav>
				<ul>
					<li>
						<a href="" title="Mentions Légales">Mentions Légales</a>
					</li>
					<li>
						<a href="" title="Conditions Générales de Vente">
							CGV
						</a>
					</li>
					<li>
						<span>-</span> Réalisé par <a href="" title="EILEA - Agence de communications print et digitale">EILEA</a>
						- {{ "now"|date('Y') }}
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>

	<script src="{{ asset('js/burger.js') }}"></script>
</body>
</html>
