{% extends 'base.html.twig' %}

{% block title %}Votre espace client{% endblock %}

{% block description %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client/user.css') }}">
{% endblock %}

{% block body %}
    <section id="banner">
        <div class="container">

        </div>
    </section>

    <section id="profile">
        <div class="container">
            <h1>
                <span class="rougeScript tc-blue">
                    Bonjour {{ user.firstName }} {{ user.name }},
                </span>
                <span class="amatic uppercase">Bienvenue dans votre espace client</span>
            </h1>

            <div class="content">
                <div class="column">
                    <div class="bloc-user">
                        <h2>Vos informations personnelles</h2>

                        <h3>{{ user.firstName }} {{ user.name }}</h3>

                        <p>{{ user.email }}</p>
                        <p>{{ user.customer.phone }}</p>

                    </div>

                    {% include 'includes/_user_cart_saved.html.twig' %}
                </div>

                <div class="elements">
                    <h2>Votre panier sauvegardé</h2>

                    {% for product in arrayProducts %}
                    <a href="{{ path('product_details', {'slug': product.slug, 'id': product.id}) }}" class="product-saved">
                        <span class="title">
                            {{ product.name }}
                        </span>

                        {% for mantra in product.mantraProducts %}
                            {% if mantra == mantraSelected %}
                                <span class="mantra">
                                    {{ mantraSelected }}
                                </span>
                            {% endif %}
                        {% endfor %}

                        {% if product.specialOffer == null %}
                            <span class="price">Prix : {{ product.price }} €</span>
                        {% else %}
                            <span class="price">Prix : {{ product.price - (product.price * (product.specialOffer.offer / 100)) }} €</span>
                            <span class="priceBeforeDiscount">{{ product.price }} €</span>
                            <span class="discount">- {{ product.specialOffer.offer }} %</span>
                        {% endif %}


                        <span class="quantity">Quantité : {{ quantity }}</span>
                    </a>
                    {% endfor %}

                    <div class="btns">
                        <a href="{{ path('cart') }}" class="bg-blue tc-white btn">
                            <i class="fas fa-shopping-cart"></i> Voir le panier
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
