{% extends 'base.html.twig' %}

{% block title %}Votre espace client{% endblock %}

{% block description %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user/ajax-user-delete.js') }}" type="module"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/client/user.css') }}">
{% endblock %}

{% block body %}
    <section id="banner">
        <div class="container">

        </div>
    </section>

    <section id="profile">
        <div class="container">
            <h1>
                <span class="rougeScript tc-blue">
                    Bonjour {{ user.firstName }} {{ user.name }},
                </span>
                <span class="amatic uppercase">Bienvenue dans votre espace client</span>
            </h1>

            <div class="content">
                <div class="column">
                    <div class="bloc-user">
                        <h2>Vos informations personnelles</h2>

                        <h3>{{ user.firstName }} {{ user.name }}</h3>

                        <p>{{ user.email }}</p>
                        <p>{{ user.customer.phone }}</p>

                    </div>

                    {% include 'includes/_user_cart_saved.html.twig' %}
                </div>

                <div class="elements">

                    <h2>Détail de votre commande</h2>

                    <div class="order">
                        <h3>Commande n°{{ order.orderNumber }} - <span><i class="fas fa-box"></i>{{ order.send }}</span></h3>
                        <p>du {{ order.date|date('d/m/Y') }}</p>


                        <div class="products">
                            {% for product in savedProducts %}
                            <div class="product-saved">
                                <h4>{{ product.title }} - <span

                                        {% for productDB in arrayProducts %}
                                            {% if product.id == productDB.id %}
                                                {% if productDB.specialOffer %}
                                                    class="priceBeforeDiscount"
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                    >{{ product.price }} €</span>

                                    {% for productDB in arrayProducts %}
                                        {% if product.id == productDB.id %}
                                            {% if productDB.specialOffer %}
                                                <span class="discount">{{ productDB.price - (productDB.price * (productDB.specialOffer.offer / 100)) }} €</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </h4>

                                <p>{{ product.mantra }}</p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="details">
                            <div>
                                <h3>Informations de livraison</h3>

                                <p>{{ order.customerFirstname }} {{ order.customerName }}</p>
                                <p>{{ order.customerEmail }}</p>
                                <p>{{ order.deliveryPhoneNumber }}</p>

                                <p>{{ order.deliveryAdress }}</p>
                                <p>{{ order.deliveryBuilding }}</p>
                                <p>{{ order.deliveryApartment }}</p>
                                <p>{{ order.zipcode }}</p>
                                <p>{{ order.deliveryCity }}</p>
                                <p>{{ order.country }}</p>
                            </div>

                            <div>
                                <h3>Informations de facturation</h3>

                                <p>{{ order.invoicingFirstname }} {{ order.invoicingName }}</p>
                                <p>{{ order.invoicingEmail }}</p>
                                <p>{{ order.invoicingPhoneNumber }}</p>

                                <p>{{ order.invoicingAdress }}</p>
                                <p>{{ order.invoicingBuilding }}</p>
                                <p>{{ order.invoicingApartment }}</p>
                                <p>{{ order.invoicingZipcode }}</p>
                                <p>{{ order.invoicingCity }}</p>
                                <p>{{ order.invoicingCountry }}</p>
                            </div>
                        </div>

                        <h4>Frais de livraison : {{ order.shippingCost }} €</h4>
                        <h4>Total de la commande : {{ order.price }} €</h4>

                        {% if order.deliveryMessage|length > 0 %}
                        <div class="message">
                            <h3>Message lié à l'état de commande</h3>
                            <p>
                                {{ order.deliveryMessage }}
                            </p>
                        </div>
                        {% endif %}

                    </div>

                </div>

            </div>

        </div>
    </section>
{% endblock %}
